# Core Dependencies

pandas
numpy
html5lib
feedparser

# Visualization

matplotlib
seaborn
altair

# NewsAPI

newsapi-python
python-dotenv

# VADER

nltk
vaderSentiment

# Streamlit

Streamlit

# Miscellaneous

jupyter
ipykernel
black