# Core Dependencies

pandas
numpy
html5lib
feedparser
lxml

# Visualization

matplotlib
seaborn
yfinance
altair

# VADER

nltk
vaderSentiment
beautifulsoup4
requests

# Streamlit

Streamlit

# Miscellaneous

jupyter
ipykernel
black